---
import Layout from "~/layouts/BaseLayout.astro";
import Header from "~/components/HeaderAbout.astro";
import Footer from "~/components/FooterAbout.astro";
import { Icon } from "astro-icon/components";
---

<Layout>
    <div id="tsparticles"></div>
    <div class="container">
        <Header />
        <div class="svg-image">
            <Icon name="logomark" class="align-center size-80" />
            <div class="tooltip-text">Hi, Human!</div>
        </div>
        <h1><span class="typed"></span></h1>
        <h2>About</h2>
        <p>
            Welcome to <strong>Pharmai</strong>, your intelligent pharmacy
            assistant. At <strong>Pharmai</strong>, we are dedicated to
            enhancing your healthcare experience through the power of artificial
            intelligence. Our platform offers an <strong
                >advanced medication search engine</strong
            >, an <strong>AI chat</strong> to answer your questions, and <strong
                >personalized reminders</strong
            > to ensure you never forget to take your medicines.
        </p>
        <p>
            Whether you need to find information about a specific medication,
            consult our AI about any health-related concerns, or simply receive
            a timely reminder, <strong>Pharmai is here to assist you</strong>.
            We strive to provide a <strong
                >friendly and efficient experience</strong
            >, ensuring you have access to the information and support you need
            to take care of your health.
        </p>
        <p>
            <strong>Explore Pharmai</strong> and discover how we can help you manage
            your health more easily and effectively. <strong
                >We are here to make your life healthier and happier</strong
            >!
        </p>

        <h2>Tecnologies</h2>
        <div class="skills center glass">
            <img
                class="skills__img"
                width="64"
                height="64"
                alt="TypeScript"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg"
            />
            <img
                class="skills__img"
                width="64"
                height="64"
                alt="JavaScript"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"
            />
            <img
                class="skills__img"
                width="64"
                height="64"
                alt="CSS"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg"
            />
            <img
                class="skills__img"
                width="64"
                height="64"
                alt="HTML"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg"
            />
            <img
                class="skills__img"
                width="64"
                height="64"
                alt="Git"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg"
            />
            <img
                class="skills__img"
                width="64"
                height="64"
                alt="Astro"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/astro/astro-original.svg"
            />
            <img
                class="skills__img"
                width="64"
                height="64"
                alt="TailwindCSS"
                src="https://upload.wikimedia.org/wikipedia/commons/d/d5/Tailwind_CSS_Logo.svg"
            />
            <img
                class="skills__img"
                width="128"
                height="64"
                alt="TailwindCSS"
                src="https://upload.wikimedia.org/wikipedia/commons/3/38/SQLite370.svg"
            />
        </div>
        <h2>Stack</h2>
        <div class="skills center glass">
            <img
                class="skills__img"
                width="64"
                height="64"
                alt="Linux"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linux/linux-original.svg"
            />
            <img
                class="skills__img"
                width="64"
                height="64"
                alt="Ubuntu"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/ubuntu/ubuntu-plain.svg"
            />
            <img
                class="skills__img"
                width="64"
                height="64"
                alt="Visual Studio Code"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vscode/vscode-original.svg"
            />
            <img
                class="skills__img"
                width="64"
                height="64"
                alt="GitHub"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"
            />
        </div>
        <h2>APIs</h2>
        <p>
            At <strong>Pharmai</strong>, we utilize several APIs to enhance our
            services:<br> the <strong>CIMA Medications API</strong> provides comprehensive
            information about various medications, ensuring our database is always
            up-to-date with the latest data;<br> the <strong
                >Pharmacology Random Phrases API</strong
            >, a custom-built Python API, serves random pharmacology-related
            phrases to educate and inform our users; <br>and the <strong
                >Geoapify API</strong
            > assists in providing location-based services, helping users find nearby
            pharmacies and healthcare facilities. By integrating these APIs, we aim
            to deliver a robust and reliable platform that meets all your healthcare
            needs.
        </p>
        <h2>Interests</h2>
        <ul class="font-semibold italic antialiased text-base">
            <li>Advancements in Pharmaceutical Technology</li>
            <li>Artificial Intelligence Applications in Healthcare</li>
            <li>Health Informatics and Data Management</li>
            <li>Patient Adherence and Medication Compliance</li>
            <li>Developing Intelligent Chatbots for Healthcare</li>
            <li>Impact of AI on Public Health</li>
            <li>Ethics and AI in Medicine</li>
            <li>Clinical Decision Support Systems</li>
            <li>Personalized Medicine through AI</li>
        </ul>
        <h2>Disclaimer</h2>
        <p>
            This is an academic project. The information and content provided
            are for educational and research purposes only. The views and
            opinions expressed in this project are those of the authors and do
            not necessarily reflect the official policy or position of any
            affiliated institutions. The project is a work in progress and may
            contain errors or omissions. Users should independently verify any
            information before relying on it
        </p>
        <Footer />
    </div>
    <script>
        import { tsParticles } from "https://cdn.jsdelivr.net/npm/@tsparticles/engine@3.1.0/+esm";
        import { loadAll } from "https://cdn.jsdelivr.net/npm/@tsparticles/all@3.1.0/+esm";

        async function loadParticles(options) {
            await loadAll(tsParticles);

            await tsParticles.load({ id: "tsparticles", options });
        }

        const configs = {
            particles: {
                number: {
                    value: 30,
                },
                color: {
                    value: "#28C963",
                },

                links: {
                    enable: true,
                    distance: 200,
                    color: "#28C963",
                },
                shape: {
                    type: "circle",
                },
                opacity: {
                    value: 1,
                },
                size: {
                    value: {
                        min: 4,
                        max: 6,
                    },
                },
                move: {
                    enable: true,
                    speed: 2,
                },
            },
            poisson: {
                enable: true,
            },
        };

        loadParticles(configs);
    </script>
    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const typed = new Typed(".typed", {
                strings: [
                    '<i class="typed-text">Hello, do you want to know about the project?</i>',
                    '<i class="typed-text">PharmaBot Can help you :)</i>',
                    '<i class="typed-text">Get to know us!</i>',
                ],
                typeSpeed: 100,
                startDelay: 300,
                backSpeed: 100,
                smartBackspace: true,
                backDelay: 1500,
                loop: true,
                loopCount: false,
                showCursor: true,
                cursorChar: "|",
                contentType: "html",
            });
        });
    </script>
</Layout>

<style>
    :root {
        --text: #fdebf3;
        --text-light: #1e1e2e;
        --text-link: #09f54c;
        --underline: #137104;
        --header: "Pacifico", cursive;
        --body: "Josefin Sans", sans-serif;
    }
    #tsparticles {
        height: 100vh;
        width: 100%;
        position: fixed;
        z-index: -1;
    }

    html {
        background-color: var(--background);
        color: var(--text);
    }

    .container {
        max-width: 1000px;
        margin: 0 auto;
        text-align: justify;
        z-index: 200;
    }

    h1,
    h2 {
        font-family: var(--header);
        font-weight: normal;
    }

    h1 {
        font-size: 2.6rem;
        margin: 0;
        margin-bottom: 5px;
        text-align: center;
    }

    h2 {
        text-decoration: underline var(--underline);
        text-decoration-thickness: 4px;
        text-underline-offset: 6px;
        font-size: 2.1rem;
        margin: 50px 0;
    }

    p {
        font-family: var(--body);
        font-size: 1.1rem;
        hyphens: auto;
        line-height: 1.5;
        text-indent: 1rem;
        border-radius: 12px;
        background: rgba(0, 255, 0, 0.3); /* Fondo semi-transparente */
        border: 1px solid #ffffff20;
        backdrop-filter: blur(16px) saturate(120%); /* Aumenta el valor de blur para más desenfoque */
        padding: 20px;
        margin: 2rem 0;
    }
    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: disc;
    }
    ul li {
        margin: 0.5rem 0;
        text-align: left; /* Asegura que el texto de cada elemento esté alineado a la izquierda */
    }
    small {
        font-family: var(--body);
    }

    /* Gifs */
    .gif {
        margin: 20px 0 0 0;
        text-align: center;
    }

    /* Items */
    .center {
        text-align: center;
    }

    /* Skills */
    .skills {
        margin: 20px;
        display: flex;
        justify-content: center;
        padding: 1rem;
    }
    .glass {
        border-radius: 12px;
        background: #ffffff1a;
        border: 1px solid #ffffff20;
        backdrop-filter: blur(16px) saturate(120%);
    }
    .skills__img {
        margin: 8px 12px;
    }
    .svg-image {
        display: flex;
        margin: 20px auto;
        justify-content: center;
        position: relative; /* Añadido para posicionar el tooltip correctamente */
    }

    .svg-image .tooltip-text {
        visibility: hidden;
        width: 200px;
        background-color: #e0a800;
        color: #fff;
        font-weight: bold;
        text-align: center;
        border-radius: 6px;
        padding: 10px;
        position: absolute;
        z-index: 1;
        bottom: 90%; /* Posiciona el tooltip encima del elemento */
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        transition: opacity 0.3s;
    }

    .svg-image .tooltip-text::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        border-width: 5px;
        border-style: solid;
        border-color: #e0a800 transparent transparent transparent;
    }

    .svg-image:hover .tooltip-text {
        visibility: visible;
        opacity: 1;
    }
    .svg-image:hover svg {
        filter: drop-shadow(
            0 0 6px #e0a800
        ); /* Añadir sombra al SVG al hacer hover */
    }

    /* Media Query */
    /* Media query para pantallas con un ancho máximo de 950px */
    @media only screen and (max-width: 950px) {
        body {
            width: 900px;
        }

        .skills__img {
            height: 60px;
            width: 60px;
            margin: 10px 2px;
        }
    }

    /* Media query para pantallas con un ancho máximo de 550px */
    @media only screen and (max-width: 550px) {
        body {
            width: 500px;
        }

        .skills__img {
            height: 30px;
            width: 30px;
            margin: 8px 1px;
        }
    }
</style>
