---
import BaseLayout from '~/layouts/BaseLayout.astro';
import Medicamentos from '~/components/cima/cima.astro';
---

<BaseLayout>
  <h1 class="text-2xl font-semibold m-4">Search Information</h1>
  <Medicamentos />
</BaseLayout>
