<footer class="flex justify-center px-8 pb-3 pt-16 relative bottom-2 inset-x-0">
        <div class="text-center text-md font-bold">2 DAW - {new Date().getFullYear()} - Jose Diego Junquera Lobón</div>
</footer>
