---
const year = new Date().getFullYear();
---
<footer>
    <div class="center">
        <small>&copy; {year} pharmAI by <a class="footer__link" href="https://github.com/jjunlob074">Jose Diego Junquera Lobón</a>. All Rights Reserved.</small>
    </div>
</footer>

<style>
    /* Footer */
footer {
    margin: 4rem 0;
    font-family: 'Josefin Sans', sans-serif;
}

.footer__link {
    color: #137104;
    text-decoration: none;
}

.footer {
    cursor: default;
    list-style: none;
    padding: 0;
}
.center {
    text-align: center;
}
</style>