---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title=" Discover Our Platform" id="intro">
  <Icon slot="eyebrow" name="logomark" class="size-32 iluminate" />
  <Fragment slot="lead">
    Try our features: <span class="text-primary reveal">chat with AI</span>,
    access <span class="text-primary reveal">medication info</span>,
    and set <span class="text-primary reveal">reminders</span>. 
    Experience <span class="text-primary reveal">state-of-the-art</span> tools and <span class="text-primary reveal">innovations</span>.
  </Fragment>
  
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-3 reveal">
    <a
      href="/PharmAI"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon name="mdi:robot" class="size-8" />
      <span>Chat with PharmAI</span>
    </a>
    <a
      href="/cima"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon name="mdi:pill" class="size-8" />
      <span>Search information</span>
    </a>
    <a
    href="/reminders"
    class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
  >
    <Icon name="mdi:alarm" class="size-8" />
    <span>Add a recordatory</span>
  </a>
  </div>
</ContentSection>

<style>
  .iluminate {
    transition: filter 1s ease-in-out, transform 0.5s ease-in-out 0.2s;
  }

  .iluminate:hover {
    filter:drop-shadow(4px 4px 8px #20C15B);
    transform: translateY(-5px);
  }
</style>